$pay-light-blue : #007AFF;
$pay-red: #fe1111;
$pay-grey : #ADADAD;
$pay-black : #666666;
$double-black : #333333;
$double-dark-blue: #003D6A;
$double-dark-blue2: #006DC1;
$double-dark-blue3: #005393;
$double-white: #ffffff;
$double-white-half-transparent: rgba(255,255,255,0.4);
$double-grey: #F9F9F9;
$double-grey2: #D8D8D8;
$double-grey3: #818181;
$double-grey4: #F0EFEF;
$double-red: #ED4744;
$double-red2: #F5563F;
$double-red3: #FFDDDD;
$double-green: #DFF0D7;
$double-green2: green;
$double-light-blue: #D9EDF8;
$double-light-blue2: #BCE8F1;
